azure-functions>=1.20.0
azure-storage-file
azure-storage-common
azure-storage-blob
azure-keyvault-secrets
azure-keyvault-certificates
azure-identity
pyodbc
pytest
pytest-mock
python-docx
pyOpenSSL
requests
Pillow
azure-mgmt-resource
azure-mgmt-web
azure-mgmt-storage
azure-mgmt-keyvault
azure-mgmt-sql
azure-graphrbac
azure-mgmt-authorization
azure-mgmt-applicationinsights
azure-mgmt-synapse
azure-mgmt-monitor
msgraph-sdk
msgraph-core
PyMuPDF
openpyxl
beautifulsoup4
lxml
flask
pandas
SpeechRecognition
pydub
imageio-ffmpeg
PyPDF2
pytesseract
filetype
unidecode
docxtpl
openai>=1.60.0
